# Пример со снятием протокола TLS (двусторонняя аутентификация) и предоставления клиенту данных сайта, работающего по http

# Логика:
# В случае соединения по 80 haproxy передает клиенту данные соединения с dev.avest.by:80
#
# В случае соединения по 443 браузер устанавливает tls-соединение с haproxy.
# Haproxy использует 
# 1. Сертификат сервера из файла /opt/AvTLSSrv/conf/TLS/server.cer.pem и личный ключ либо в этом файле, либо в файле "имя_файла_с_сертификатом".key.
# 2. Файл в каталоге /opt/AvTLSSrv/conf/TLS/chain (см. issuers-chain-path) с цепочкой сертификатов УЦ (от издателя до самоподписанного) для сертификата сервера.
#
# 3. Файл /opt/AvTLSSrv/conf/TLS/client-issuer-ca.cer.pem (см. ca-file) с сертификатами издателя, которые могли быть использованы для выпуска сертификата клиента
# 4. Файл /opt/AvTLSSrv/conf/TLS/chain/chain.cer.pem (см. ca-verify-file) с цепочкой сертификатов УЦ (до самоподписанного) для сертификата клиента
# 5. Файл /opt/AvTLSSrv/conf/TLS/client-ca.crl.pem (см. crl-file) с СОС УЦ для сертификата клиента
#
# При успешном установлении tls-соединения haproxy передает клиенту данные соединения с dev.avest.by:80
#
# Таким образом на стороне клиента все выглядит, как будто он работает с левым сайтом (заголовок в url не оригинальный), но реально используются данные http://dev.avest.by

global
	# Для включения записи протокола событий в файл необходимо:
	# 1. Расскомментарить все строки в этом файле
	#    с настройками, имеющим отношение к протоколам событий
	#
	# 2. Скорректировать /etc/rsyslog.conf 
	#    расскоментировать разделы с imudp и imtcp
	#    и добавить строки (с учетом содержимого данного примера)
	#     local0.* /var/log/haproxy.log
	#     local1.* /var/log/haproxy_notice.log
	# 3. Перезапустит rsyslog - sudo /etc/init.d/rsyslog restart

        # Вести обработку в файл с протоколом событий в /dev/log сохраняя в local0
#	log /dev/log	local0
#	log /dev/log	local1 notice

#	chroot /opt/AvTLSSrv
#	stats socket /opt/AvTLSSrv/logs/haproxy-admin.sock mode 660 level admin

	stats timeout 30s

#	user haproxy
#	group haproxy

	daemon

	# Путь к файлам с сертификатами корневых УЦ, используемых для построения цепочки сертификатов, передаваемых клиенту
	ca-base /opt/AvTLSSrv/conf/TLS/ca
	# Путь к файлам с сертификатами и личными ключами сервера
#	crt-base /opt/AvTLSSrv/conf/TLS

	# каталог с файлами, в каждом из которых сертификаты УЦ из цепочки сертификатов сервера, передаваемой клиенту
	issuers-chain-path /opt/AvTLSSrv/conf/TLS/chain
	
	# параметры по умолчанию для bind в разделе frontend
	ssl-default-bind-ciphers DHT-BIGN-BELT-CTR-HBELT:DHE-BIGN-BELT-CTR-HBELT:ALL
#	ssl-default-bind-options no-tlsv10 no-tlsv11 force-tlsv12
#	ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

	# параметры по умолчанию для server в разделе backend
	ssl-default-server-ciphers DHT-BIGN-BELT-CTR-HBELT:DHE-BIGN-BELT-CTR-HBELT:ALL
#	ssl-default-bind-options no-tlsv10 no-tlsv11 force-tlsv12
#	ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

	# curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
#	ssl-dh-param-file /path/to/dhparam

#	tune.ssl.default-dh-param 2048

defaults
#	mode	http

	# Включить в протокол события о трафике
#	log	global

	# Включение или выключение сохранения в файл с протоколом событий о null соединениях
#	option	dontlognull
#	no option dontlognull

	timeout connect 5000
	timeout client  50000
	timeout server  50000
#	errorfile 400 /opt/AvTLSSrv/errors/400.http
#	errorfile 403 /opt/AvTLSSrv/errors/403.http
#	errorfile 408 /opt/AvTLSSrv/errors/408.http
#	errorfile 500 /opt/AvTLSSrv/errors/500.http
#	errorfile 502 /opt/AvTLSSrv/errors/502.http
#	errorfile 503 /opt/AvTLSSrv/errors/503.http
#	errorfile 504 /opt/AvTLSSrv/errors/504.http

frontend http_in
	mode http
	# Определение расширенного формата записей протокола события
	# добавляются сообщения о HTTP-запросах, состоянии сеанса и таймеров
#	option	httplog
	bind *:80
	default_backend http_out

backend http_out
	mode http
	balance roundrobin
	server node dev.avest.by:80 maxconn 50 check

frontend https_in
	mode tcp
	# Определение расширенного формата записей протокола события
#	option	tcplog

	# соединение с двусторонней аутентификацией (и сервера и клиента) 
	# verify required
	# ca-file - PEM-файл, с сертификатами УЦ, информация о владельцах которых пересылается клиенту для выбора клиентом сертификата с необходимым издателем
	# ca-verify-file - PEM-файл, из которого загружаются доверенные корневые сертификаты УЦ, используемые проверки сертификата клиента и, при необходимости, для построения цепочки сертификатов клиента
	# crl-file - PEM-файл, из которого загружаются СОС УЦ, используемые при проверки сертификата клиента
	bind *:443 ssl crt /opt/AvTLSSrv/conf/TLS/server.cer.pem verify required ca-file /opt/AvTLSSrv/conf/TLS/client-issuer-ca.cer.pem ca-verify-file /opt/AvTLSSrv/conf/TLS/client-root-ca.cer.pem crl-file /opt/AvTLSSrv/conf/TLS/client-ca.crl.pem
	# с явно указанным использованием tls 1.2 и дополнительно (к основным) белорусских криптопротоколов
#	bind *:443 ssl force-tlsv12 ciphers DHT-BIGN-BELT-CTR-HBELT:DHE-BIGN-BELT-CTR-HBELT:ALL crt /opt/AvTLSSrv/conf/TLS/server.cer.pem verify required ca-file /opt/AvTLSSrv/conf/TLS/client-issuer-ca.cer.pem ca-verify-file /opt/AvTLSSrv/conf/TLS/chain/chain.cer.pem crl-file /opt/AvTLSSrv/conf/TLS/client-ca.crl.pem

	default_backend https_out

backend https_out
	mode tcp
	balance roundrobin
	server node dev.avest.by:80 maxconn 50 check
